/* BOB 30x30 */
[data-cid^="33107375-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.imgur.com/voLNduZ.jpg") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-33107375 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.imgur.com/voLNduZ.jpg") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="33107375-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="33107375-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* BOB */

/* LEO */
[data-cid^="35697804-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://66.media.tumblr.com/9f953a8416e3472b14de01972e5c7888/tumblr_ovznmz3e2g1wsazf5o7_r1_540.gifv") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-35697804 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://66.media.tumblr.com/9f953a8416e3472b14de01972e5c7888/tumblr_ovznmz3e2g1wsazf5o7_r1_540.gifv") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-35697804 .info .badge-box {
    position: relative;
    top: 7px;
    background-image: url("https://66.media.tumblr.com/9f953a8416e3472b14de01972e5c7888/tumblr_ovznmz3e2g1wsazf5o7_r1_540.gifv");
    background-size: 30px;
    float: left;
    margin-left: 8px;
}
[data-cid^="35697804-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
[data-cid^="35697804-"] .bdg.s {
    background-image: url("https://66.media.tumblr.com/9f953a8416e3472b14de01972e5c7888/tumblr_ovznmz3e2g1wsazf5o7_r1_540.gifv") !important;
    background-size: 30px !important;
}
[data-cid^="-"] .thumb {
    border: 2px solid #ac73f8 !important;
    border-radius: 50%;
}
/* LEO */

/* DENI 30x30 */
[data-cid^="4473623-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.pinimg.com/originals/57/89/93/578993e65f11268042b08b0e7f00f394.jpg") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-4473623 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://i.pinimg.com/originals/57/89/93/578993e65f11268042b08b0e7f00f394.jpg") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="4473623-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="4473623-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* DENI */

/* KARU 30x30 */
[data-cid^="4690550-"] .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://66.media.tumblr.com/b88ff929330e03b628f07cac3d116a68/tumblr_mtwq9eruxv1rz1tv9o1_540.gifv") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-4690550 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://66.media.tumblr.com/b88ff929330e03b628f07cac3d116a68/tumblr_mtwq9eruxv1rz1tv9o1_540.gifv") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="4690550-"] .msg .from .un {
    color: #ac76ff !important;
}
[data-cid^="4690550-"] #chat .emote {
    background: rgba(37,185,97,0.3) !important;
    border-left: rgb(37,185,97) 3px solid !important;
}
/* KARU */

